<h1>Welcome to Rate My Wine</h1>

<div>
<p><%= link_to "Login", login_path  %></p>
<p>OR</p>
<p><%= link_to "Signup", signup_path %></p>
<p>OR</p>
<p><%= link_to "Login With Google", "/auth/google_oauth2" %></p>
</div>