<h1 class="center-align">Welcome to Rate My Wine</h1>
<p class="center-align" id="sofia-font">Here are some wines our users have recently added... </p>

<div class="row">

<% @wines.each do |wine| %>
    <div class="col s4">
        <%= wine.wine_image %>
        <div class="center-align">
        <h4><%= wine.wine_link  %></h4>
        <h4><%= wine.varietal.name %></h4>
        </div>
    </div>
<% end %>

</div>

