<div class="container">
<h1 id="sofia-font">List of Regions:</h1>

<ul class="collection" id="center">
<% @regions.collect do |v|%>
    <li class="collection-item"><%= link_to v.name, region_wines_path(v.id) %></li>
<% end %>

</div>