<h3 id="sofia-font">Check out our top reviewed wines!</h3>


<% @reviews.collect do |v|%>
<blockquote>
    <% if v.stars != 0 %>
        <% v.stars.round(half: :down).round.times do %>
            <i class="tiny material-icons">star</i>
        <% end %>
    <% end %><br>
    "<%= v.content %>"<br>
    <%= link_to v.wine.wine_var, wine_path(v.wine) %><br>
    <%= v.user.username.capitalize %><br>
</blockquote>
<% end %>

