<h1>List of Reviews:</h1>


<% @reviews.collect do |v|%>
<blockquote>
    "<%= v.content %>"<br>
    <%= v.wine.name %> - <%= link_to v.wine.varietal.name, wine_path(v.wine) %><br>
    <%= v.user.username %><br>
</blockquote>
<% end %>

